---
layout: default
title: "Welcome to shake the disease, a stream of consciousness."
description: ""
---

<div class="about {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  {% include image.html path="about.jpg" path-detail="about@2x.jpg" alt="Lightning crashes in Twin Peaks" %}
  <h1>Hello, there.</h1>
  <p>
    Welcome to shake the disease, likely not the only blog named for a Depeche Mode song although is the only one that's just a random stream of consciousness. The goal is to use this as a separate location for simply forcing myself to write and think. I could spend all day trying to force myself to write professional things although that's typically not the best form of exercise and I'm simply not able to keep up with reliably posting that kind of content right now. As a result, voila!

    As for me, my name is Garrett. I work as a Linux System Administrator by day and do whatever I can during the night. Perhaps eventually I'll update this with a bit more professional details and a serious blog.
  </p>
</div>
